@import "../../styles/variables";

.todo_list {
    width: 100%;
    margin-top: 18px;
    & > li {
        body[theme="Dark"] & {
            background-color: $item-dark-bg;
        }
        box-shadow: $shadow-hover;
        padding: 5px 0;
    }
    & > li:not(last-child) {
        margin-bottom: 7px;
    }
}
