@import "../../styles/variables";

.burger_wrapper {
    position: relative;
    height: 20px;
    width: 35px;
    cursor: pointer;
}

.top,
.center,
.bottom {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $text-dark-theme;
    left: 0;
    border-radius: 20px;
    body[theme="Light"] & {
        background-color: $text-light-theme;
    }
}

.top {
    top: 0;
}

.center {
    transform: translateY(-50%);
    top: 50%;
}

.bottom {
    bottom: 0;
}
