@import "../../../styles/variables";

.burger_wrapper {
    display: block;
    position: relative;
    height: 20px;
    width: 35px;
    cursor: pointer;
    z-index: 10;
}

.top,
.center,
.bottom {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $text-dark-theme;
    left: 0;
    border-radius: 20px;
    body[theme="Light"] & {
        background-color: $text-light-theme;
    }
    transition: all .3s linear;
}

.top {
    top: 0;
}

.active .top {
    transform: rotate(45deg);
    top: 50%;
}

.center {
    transform: translateY(-50%);
    top: 50%;
}

.active .center {
    opacity: 0;
}

.bottom {
    bottom: 0;
}

.active .bottom {
    transform: rotate(-45deg);
    top: 50%;
}