@import '../../../styles/_mixins';

.button {
    @include buttonMain;
}

.large {
    padding: 10px 20px;
}

.disabled {
    pointer-events: none;
    background-color: hsla(206, 100%, 52%, 0.4);
    color: rgba(255, 255, 255, 0.5);
}