@import '../../styles/_mixins';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    width: 100%;

    & > input {
        padding: 10px;
        border-radius: 5px;
        outline: none;
    }
}

.button {
    @include buttonMain;
}