@import "../../styles/mixins";
@import "../../styles/variables";

.footer {
    border-top: 1px solid $border-ui;
    flex: 0 0 auto;
    box-shadow: $shadow;
    margin-top: 20px;
}

.container {
    @include container;
    padding: 10px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
