@import "../../../styles/variables";

.todo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    cursor: grab;
    padding: 5px 10px;
    box-sizing: border-box;
    body[theme="Light"] & {
        background-color: $light-bg;
    }

    &__title {
        width: 100%;
    }

    & > input[type="text"] {
        padding: 5px;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 5px;
        font-weight: bold;
        border: 2px solid $main-ui;
        font-size: 1.17em;
    }

    & > input[type="checkbox"] {
        cursor: pointer;
    }
}

.done {
        text-decoration: line-through;
    }

