@import "../../../styles/variables";

.outer {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s linear;
    z-index: 2;
}

.active {
    pointer-events: auto;
    opacity: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: $light-bg;
    right: 0;
    width: 80%;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    padding: 20px;
    z-index: 3;
    box-shadow: $shadow-hover;
    box-sizing: border-box;

    & a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: $text-light-theme;
    }

    body[theme="Dark"] & {
        background-color: $dark-bg;
        & a {
            color: $item-dark-bg;
        }
    }
}

.open {
    animation: showMenu 0.5s ease-in-out;
    top: 50px;
}

.close {
    animation: hideMenu 1s ease-in-out;
}

@keyframes hideMenu {
    from {
        top: 50px;
    }
    to {
        top: -100%;
    }
}

@keyframes showMenu {
    from {
        top: -50px;
    }
    to {
        top: 50px;
    }
}
